[submodule "omdb-genre-angular"]
	path = omdb-genre-angular
	url = https://github.com/ishmum123/omdb-genre-angular
[submodule "omdb-genre-spring"]
	path = omdb-genre-spring
	url = https://github.com/ishmum123/omdb-genre-spring.git
[submodule "omdb-scraper"]
	path = omdb-scraper
	url = https://github.com/ishmum123/omdb-scraper.git
